{% extends 'base-page.html' %}
{% load static %}

{% block container %}

        <h1> My Notes </h1>

    {% if not is_notes %}
        <h2>There are no notes.</h2>
        <!--notes container-->
    {% else %}
        {% for note in notes %}
            <div class="note-container">
                <h2>{{ note.title }} <img src="{{ note.image_url}}" /></h2>

                <div class="right">
                    <a class="button details" href="{% url 'note_detail' note.pk %}">Details</a>
                    <a class="button edit" href="{% url 'note_update' note.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'note_delete' note.pk %}">Delete</a>
                </div>
            </div>

        {% endfor %}

    {% endif %}

{% endblock container %}
