{% extends 'base-page.html' %}
{% load static %}

{% block container %}

        <div class="body">
            <!--headings-->
            <h1>Your Profile</h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="note-container">
                <h2>
                    {{ profile }}
                    <img src="{{ profile.image_url }}" />
                </h2>
                <p>Age: {{ profile.age }}</p>
                <div>
                    <p>All notes: {{ notes_len }}</p>
                </div>
                <form method="POST">
                    <div class="right">
                        {% csrf_token %}
                        {{ form }}
{#                        <input type="submit" value="Delete" />#}
                        <button class="button delete"> Delete</button>
                    </div>
                </form>
            </div>
            <!--end profile details container-->
        </div>

{% endblock container %}

